@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-screenplay: "Courier Prime", "Courier New", monospace;

  --spacing-screenplay-margin-left: 1.5in;
  --spacing-screenplay-margin-right: 1in;
  --spacing-screenplay-margin-top: 1in;
  --spacing-screenplay-margin-bottom: 1in;
  --spacing-character-indent: 3.7in;
  --spacing-dialogue-indent: 2.5in;
  --spacing-parenthetical-indent: 3.1in;

  --text-screenplay: 12pt;
  --leading-screenplay: 1.2;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
